<div class="l-container">
  <div class="l-side">
    <div class="sw-main-header">
      <div class="sw-main-header-title">メニュー</div>
    </div>
    <div class="sw-main-body">
      <div class="user-links">
        <div class="sw-menu">
          <ul class="sw-menu-link">
            <li>
              <%= link_to admin_dashboard_path do %>
                <span>ダッシュボード</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-main-view">
    <div class="sw-main-header">
      <div class="sw-main-header-title">
        Admin
      </div>
    </div>
  </div>
</div>
