<main id="kiji-main">
  <div class="container max-width-980">
    <div class="article-main">
      <div class="article-main-content">
        <h3 class="mb-5">ニュースレーターを受け取る</h3>
        <div class="row justify-content-center">
          <div class="col-lg-6 mb-3">
            <div class="subscribe-container">
              <div><%= @newsletter_subscriber&.email %>で登録しました。</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
