<div class="l-side">
  <div class="sw-main-header">
    <div class="sw-main-header-title">メニュー</div>
  </div>
  <div class="sw-main-body">
    <div class="user-links">
      <div class="sw-menu">
        <ul class="sw-menu-link">
          <li>
            <%= link_to admin_settings_path do %>
              <span><%= t ".setting" %></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
